<div class="comments">
    {{#each this}}
    <div class="row">
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content white-text">
                    <p class="creator">Comment by: {{user.username}}</p>
                    <p>Created at: {{format_date createdAt}}</p>
                </div>
                <div class="card-action">
                    <p>{{body}}</p>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>