<div class="container">
    <form class="card blue-grey darken-1 new-post">
        <div class="row">
            <div class="input-field">
                <input id="postTitle" type="text" class="validate" />
                <label class="active" for="postTitle">Blog Title</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input id="post-body" type="text" class="validate" />
                <label class="active" for="post-body">Blog Text</label>
            </div>
        </div>
        <div>
            <button class="waves-effect waves-light btn" type="submit">Create</button>
        </div>
    </form>
</div>
<script src="/js/add-post.js"></script>