<form class="col 9 align-center">
    <div class="row">
        <div class="input-field col s6">
            <input id="title" type="text" class="validate">
            <label class="active" for="title">Blog Title</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <input id="text-body" type="text" class="validate">
            <label class="active" for="text-body">Blog Text</label>
        </div>
    </div>
    <div>
        <a class="waves-effect waves-light btn create-post" type="submit">Create</a>
    </div>
    <script src="/js/add-post.js"></script>
</form>