<form class="col 9 align-center">
    <div class="row">
        <div class="input-field col s6">
            <input id="first_name" type="text" class="validate">
            <label class="active" for="first_name">First Name</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <input id="password" type="text" class="validate">
            <label class="active" for="password">Password</label>
        </div>
    </div>
    <div>
        <a class="waves-effect waves-light btn login" type="submit">Login</a>
        <div class="signup"><a class="text" href="/signup">Not a Member? Click to Sign Up!</a></div>
    </div>
    <script src="/js/login.js"></script>
</form>