<div class="container">
    {{> postguide post}}

    {{!-- {{#if logged_in}} --}}
    <form class="new-comment">
        <div class="card blue-grey darken-1">
            <div class="row input-field">
                <input id="commentText" type="text" class="input" />
                <label class="active" for="commentText">Text</label>
            </div>
            <div class="row blue-grey darken-1">
                <button class="waves-effect waves-light btn" type="submit">Add Comment</button>
            </div>
        </div>
    </form>
    <script src="/js/comment.js"></script>
    {{!-- {{/if}} --}}
    {{> comments post.comments}}

</div>

