<form class="col9 signup-form">
    <div class="row">
        <div class="input-field col s6">
            <input id="username-signup" type="text" class="validate">
            <label class="active" for="username-signup">Username</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <input id="password-signup" type="text" class="validate">
            <label class="active" for="password-signup">Password</label>
        </div>
    </div>
    <div>
        <button class="waves-effect waves-light btn signup" type="submit">Confirm</button>
    </div>
</form>
<script src="/js/signup.js"></script>